BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst" SITE "L14" ;
LOCATE COMP "rst_group[1]" SITE "N2" ;
LOCATE COMP "rst_group[2]" SITE "P2" ;
IOBUF PORT "rst" DRIVE=NA IO_TYPE=LVCMOS25 SLEWRATE=NA CLAMP=ON ;
LOCATE COMP "led[0]" SITE "N13" ;
LOCATE COMP "led[1]" SITE "M12" ;
LOCATE COMP "led[2]" SITE "P12" ;
LOCATE COMP "led[3]" SITE "M11" ;
LOCATE COMP "led[4]" SITE "P11" ;
LOCATE COMP "led[5]" SITE "N10" ;
LOCATE COMP "led[6]" SITE "N9" ;
LOCATE COMP "led[7]" SITE "P9" ;
LOCATE COMP "rgb_led2[1]" SITE "N3" ;
LOCATE COMP "rgb_led2[2]" SITE "M3" ;
LOCATE COMP "row[12]" SITE "H3" ;
LOCATE COMP "line[0]" SITE "P8" ;
LOCATE COMP "line[2]" SITE "L3" ;
LOCATE COMP "line[3]" SITE "K3" ;
LOCATE COMP "line[4]" SITE "K2" ;
LOCATE COMP "line[5]" SITE "J3" ;
LOCATE COMP "line[6]" SITE "J2" ;
LOCATE COMP "line[7]" SITE "F3" ;
LOCATE COMP "rgb_led2[0]" SITE "P4" ;
LOCATE COMP "line[1]" SITE "N6" ;
LOCATE COMP "row[0]" SITE "N7" ;
LOCATE COMP "row[1]" SITE "P7" ;
LOCATE COMP "row[2]" SITE "P6" ;
LOCATE COMP "row[3]" SITE "N5" ;
LOCATE COMP "row[4]" SITE "H12" ;
LOCATE COMP "row[5]" SITE "G14" ;
LOCATE COMP "row[6]" SITE "G13" ;
LOCATE COMP "row[7]" SITE "F14" ;
LOCATE COMP "row[8]" SITE "F13" ;
LOCATE COMP "row[9]" SITE "G12" ;
LOCATE COMP "row[10]" SITE "F12" ;
LOCATE COMP "row[11]" SITE "E12" ;
LOCATE COMP "row[13]" SITE "G3" ;
LOCATE COMP "row[14]" SITE "E3" ;
LOCATE COMP "row[15]" SITE "N8" ;
LOCATE COMP "rst_group[0]" SITE "M2" ;
LOCATE COMP "ir" SITE "J14" ;
