BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk_in" SITE "C1" ;
LOCATE COMP "rst_n_in" SITE "L14" ;
LOCATE COMP "segment_led_1[1]" SITE "C11" ;
LOCATE COMP "segment_led_1[2]" SITE "F2" ;
LOCATE COMP "segment_led_1[3]" SITE "E1" ;
LOCATE COMP "segment_led_1[4]" SITE "E2" ;
LOCATE COMP "segment_led_1[5]" SITE "A9" ;
LOCATE COMP "segment_led_1[6]" SITE "B9" ;
LOCATE COMP "segment_led_1[7]" SITE "F1" ;
LOCATE COMP "segment_led_1[8]" SITE "C9" ;
LOCATE COMP "segment_led_2[0]" SITE "C12" ;
LOCATE COMP "segment_led_2[1]" SITE "B14" ;
LOCATE COMP "segment_led_2[2]" SITE "J1" ;
LOCATE COMP "segment_led_2[3]" SITE "H1" ;
LOCATE COMP "segment_led_2[4]" SITE "H2" ;
LOCATE COMP "segment_led_2[5]" SITE "B12" ;
LOCATE COMP "segment_led_2[6]" SITE "A11" ;
LOCATE COMP "segment_led_2[7]" SITE "K1" ;
LOCATE COMP "segment_led_2[8]" SITE "A12" ;
IOBUF PORT "one_wire" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "segment_led_2[7]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
LOCATE COMP "segment_led_1[0]" SITE "A10" ;
LOCATE COMP "line[0]" SITE "P8" ;
LOCATE COMP "line[1]" SITE "N6" ;
LOCATE COMP "line[2]" SITE "L3" ;
LOCATE COMP "line[3]" SITE "K3" ;
LOCATE COMP "line[4]" SITE "K2" ;
LOCATE COMP "line[5]" SITE "J3" ;
LOCATE COMP "line[6]" SITE "J2" ;
LOCATE COMP "line[7]" SITE "F3" ;
LOCATE COMP "row[0]" SITE "N7" ;
LOCATE COMP "row[1]" SITE "P7" ;
LOCATE COMP "row[2]" SITE "P6" ;
LOCATE COMP "row[3]" SITE "N5" ;
LOCATE COMP "row[4]" SITE "H12" ;
LOCATE COMP "row[5]" SITE "G14" ;
LOCATE COMP "row[6]" SITE "G13" ;
LOCATE COMP "row[7]" SITE "F14" ;
LOCATE COMP "row[8]" SITE "F13" ;
LOCATE COMP "row[9]" SITE "G12" ;
LOCATE COMP "row[10]" SITE "F12" ;
LOCATE COMP "row[11]" SITE "E12" ;
LOCATE COMP "row[12]" SITE "H3" ;
LOCATE COMP "row[15]" SITE "N8" ;
LOCATE COMP "one_wire" SITE "K12" ;
LOCATE COMP "row[14]" SITE "G3" ;
LOCATE COMP "row[13]" SITE "E3" ;
